.git
.gitignore

*.pyc
*.pyo

# Local environments
.venv/
.env
.env.*
*.log

.pytest_cache/
.ruff_cache/
.mypy_cache/

docker.env
.env.compose

.pytest_cache/
.ruff_cache/
.mypy_cache/
.cache/

docs/screenshots/
.vscode/
.idea/

dist/
build/

